.orders {
  padding: 20px 80px;
  background-color: #fff;
  font-family: 'Lato', sans-serif;
}

.orders__paymentSuccess {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
.orders__payment {
  width: 300px;
  height: 600px;
  background-color: #fff;
  margin: 50px auto 0 auto;
  padding: 20px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
.orders__paymentCloseIcon {
  position: absolute;
  top: 5px;
  right: 5px;
  filter: invert(57%) sepia(47%) saturate(20%) hue-rotate(314deg)
    brightness(93%) contrast(86%);
  cursor: pointer;
}
.orders__paymentHide {
  display: none;
}
.orders__payment h1 {
  color: rgb(88, 88, 88);
}
.orders__payment h2 {
  color: #37af48;
}
.orders__payment p {
  margin-top: 20px;
  font-size: 14px;
}
.orders__paymentIcon {
  transform: scale(2);
  filter: invert(56%) sepia(65%) saturate(487%) hue-rotate(78deg)
    brightness(87%) contrast(91%);
}

.orders h1 {
  margin: 30px 0;
  font-weight: 600;
}

/*************************************************** For Smaller Screen Size  ****************************************/

@media screen and (max-width: 700px) {
  .orders {
    padding: 20px;
  }
}
