.home {
  max-width: 1600px;
  margin: 0 auto;
}

.home__row {
  display: flex;
  padding: 0 10px;
  z-index: 1;
}
.home__image {
  width: 100%;

  cursor: pointer;
  object-fit: cover;
  min-height: 600px !important;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
}

.home__containerCarousel .react-multiple-carousel__arrow {
  margin-bottom: 350px;
}
.home__containerCarousel {
  cursor: pointer !important;
  z-index: -1;
}

.home__productAd {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: -363px;
}
.home__relatedItem {
  background-color: #fff;
  margin: 15px;
  padding: 20px;
}
.home__relatedItem h1 {
  font-size: 1.3rem;
  margin-left: 20px;
  font-weight: 700;
}
.home__relatedItem__seeMore {
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 30px;
  color: #438eac;
  font-family: sans-serif;
}
.home__relatedItem__seeMore:hover {
  text-decoration: underline;
  color: #855104;
}
.home__relatedItemCarousel {
  padding: 0;
  margin: 0;
  width: max-content !important;
  cursor: pointer;
}

.home__relatedItemCarousel img:hover {
  transform: scale(1.05);
  transition: 0.3s ease;
}

.home__lastItemCarousel {
  padding: 0;
  width: min-content !important;
  cursor: pointer;
}

.home__bottomRecommendations {
  font-size: 13.5px;
  font-weight: 500;
  font-family: 'Lato', sans-serif;
  margin-top: 40px;
}
.home__bottomNewCustomer {
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 12px;
  font-weight: 500;
  font-family: 'Lato', sans-serif;
}

.home__lastItem {
  background-color: #fff;
  margin: 0;
  padding: 20px;
}

.home__lastItem h1 {
  font-size: 24px;
}

.home__bottomSignIn {
  text-align: center;
  background-color: #fff;
  margin: 0;
  padding: 20px;
}

.home__bottomSignIn div {
  height: 1px;
  background-color: #d3d3d3;
}

.home__bottomSignIn span {
  color: #438eac;
  cursor: pointer;
}

.home__bottomSignIn span:hover {
  color: #c57c0e;
}

.home__bottomSignIn button {
  background-image: linear-gradient(to bottom, #f7e4b5, #f0b727);
  font-weight: 600;
  font-family: sans-serif;
  font-size: 13px;
  border-radius: 2px;
  width: 15%;
  height: 30px;
  border: 1px solid;
  border-radius: 4px;
  margin-top: 5px;
  border-color: #a88734 #9c7e31 #846a29;
  cursor: pointer;
}
.home__bottomSignIn button:hover {
  background-image: linear-gradient(to bottom, #f0d38a, #f0b727);
}
.home__notify {
  position: fixed;
  right: 0;
  top: 0;
  background: none;
  width: 100px;
  height: 100vh;
  padding-top: 60px;
  padding-left: 10px;
}

/************************************************** For Smaller Screen  *************************************/
@media screen and (max-width: 1000px) {
  .home__notify {
    display: none;
  }
}
@media screen and (max-width: 780px) {
  .home {
    width: 100%;
  }
  .home__image {
    object-fit: cover;
  }
  .home__productAd {
    margin-top: 0px;
  }

  .home__carouselImageDiv {
    text-align: center;
    height: 250px;
    width: 100%;
    background-color: white;
    margin: 0 auto;
  }
}

/*********************************************** For Mobile Size Screen  ***************************************/
/* @media screen and (max-width: 800px) {
  .home__image {
    right: 187px;
  }
}
@media screen and (max-width: 700px) {
  .home__image {
    right: 155px;
  }
}

@media screen and (max-width: 600px) {
  .home__image {
    right: 135px;
  }
}

@media screen and (max-width: 550px) {
  .home__image {
    right: 130px;
  }
}
@media screen and (max-width: 500px) {
  .home__image {
    right: 116px;
  }
}

@media screen and (max-width: 450px) {
  .home__image {
    object-fit: cover;
    transform: scale(0.6);
    width: 250% !important;
    position: relative;
    right: 195px;
    top: -122px;
  }
}
@media screen and (max-width: 420px) {
  .home__image {
    right: 207px;
  }
}

@media screen and (max-width: 400px) {
  .home__image {
    right: 195px;
  }
}

@media screen and (max-width: 375px) {
  .home__image {
    right: 180px;
  }
} */
